.users-list{
    &__content{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    &__paginate{
        display: flex;
        justify-content: right;
        padding-right: 10%;
    }
}